<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>localImage1.jpg</string>
	<string>localImage2.jpg</string>
	<string>localImage3.jpg</string>
	<string>localImage4.jpg</string>
	<string>localImage5.jpg</string>
</array>
</plist>
